<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 | Kcal-cal</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/static/img/favicon.png"
      type="image/x-icon"
    />
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- css: reset -->
    <link rel="stylesheet" href="/static/css/reset.css" />
    <!-- css: header -->
    <link rel="stylesheet" href="/static/css/header.css" />
    <!-- css : mypage -->
    <link rel="stylesheet" href="/static/css/mypage.css" />
    <!-- fontawsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <!-- xelcon -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      <div id="skipNav">
        <a href="#content">본문 바로가기</a>
        <a href="#gnb">글로벌 네비게이션 바로가기</a>
      </div>

      <header id="headerArea">
        <div class="headerInner">
          <h1 class="logo"><a href="/">Kcal-cal</a></h1>
          <div class="profile_img">
            <img src="../static/img/porfile.jpg" alt="프로필 이미지" />
            <ul>
              <li><a href="/logout">로그아웃</a></li>
              <li><a href="/mypage">정보수정</a></li>
            </ul>
          </div>

          <nav id="gnb">
            <h2 class="hidden">Navigation</h2>
            <ul>
              <li>
                <h3>
                  <b class="top-curve"></b>
                  <b class="bottom-curve"></b>
                  <a href="/main"><i class="fas fa-fire"></i>칼로리 체크</a>
                </h3>
              </li>
              <li>
                <h3>
                  <b class="top-curve"></b>
                  <b class="bottom-curve"></b>
                  <a href="/sub1"><i class="fas fa-calculator"></i>BMI 측정</a>
                </h3>
              </li>
              <li>
                <h3>
                  <b class="top-curve"></b>
                  <b class="bottom-curve"></b>
                  <a href="/sub2"><i class="fas fa-running"></i>건강 정보</a>
                </h3>
              </li>
              <li>
                <h3>
                  <b class="top-curve"></b>
                  <b class="bottom-curve"></b>
                  <a href="/sub3"><i class="far fa-meh-blank"></i>건강 상태</a>
                </h3>
              </li>
            </ul>
          </nav>
          <a href="#" class="menu_ham">
            <!-- <span>메뉴열고닫기</span> -->
          </a>
        </div>
      </header>
      <!-- main content -->
      <main>
        <section>
          <h2 class="hidden">Main Content</h2>
          <h3>내 정보</h3>
          <article class="profile1">
            <img
              src="https://ca.slack-edge.com/T0417T8AR8U-U0415AS4GLT-9052f3c17396-512"
              alt=""
            />
            <form name="form_mypage">
              <!-- <label for="nickname" name="info" id="nickname"></label> -->
              <div id="userInfo">
                <!-- id값 수정 불가 -->
                <input
                  type="text"
                  class="inputBox"
                  id="userid"
                  readonly
                  disabled
                  placeholder="userID"
                  value="<%= userid %>"
                />

                <!-- <label for=""></label> -->

                <!-- nickname 수정 가능 -->
                <input
                  type="text"
                  class="inputBox"
                  id="nickname"
                  placeholder="Nickname"
                  value="<%= nickname %>"
                />

                <!-- PW 수정가능 & 일치 확인-->
                <input
                  type="password"
                  class="inputBox"
                  id="userpw"
                  placeholder="userPW"
                  value="<%= userpw %>"
                />

                <input
                  type="password"
                  class="inputBox"
                  placeholder="checkPW"
                  value="<%= userpw %>"
                />

                <!-- email 수정 불가 -->
                <input
                  type="email"
                  class="inputBox"
                  id="useremail"
                  readonly
                  disabled
                  placeholder="userEmail"
                  value="<%= useremail %>"
                />

                <!-- 키 -->
                <input
                  type="number"
                  class="inputBox"
                  id="height"
                  placeholder="height"
                  value="<%= height %>"
                />

                <!-- 나이 -->
                <input
                  type="number"
                  class="inputBox"
                  id="age"
                  placeholder="age"
                  value="<%= age %>"
                />

                <!-- 성별 -->
                <input
                  type="text"
                  class="inputBox"
                  id="gender"
                  placeholder="gender(M/F)"
                  value="<%= gender %>"
                />
              </div>
              <button type="button" id="editBtn" onclick="editInfo();">
                수정하기
              </button>
              <button type="button" id="delBtn" onclick="delInfo();">
                회원탈퇴
              </button>
            </form>
          </article>
          <!-- <article class="profile2">
          <form>
            <label for="age" id="age">나이</label>
            <input type="number">
            <label for="weight">몸무게</label>
            <input type="text">
            <button>수정</button>
          </form>
        </article> -->
        </section>
      </main>
    </div>

    <script>
      const form = document.forms["form_mypage"];

      function editInfo() {
        if (!form.checkValidity()) {
          form.reportValidity();
          return;
        }

        axios({
          method: "POST",
          url: "/mypage/edit",
          data: {
            userid: form.userid.value,
            userpw: form.userpw.value,
            useremail: form.useremail.value,
            nickname: form.nickname.value,
            gender: form.gender.value,
            age: form.age.value,
            height: form.height.value,
          },
        })
          .then((res) => {
            return res.data;
          })
          .then((data) => {
            if (data) {
              console.log(data);
              alert(
                `${data.nickname}님의 회원정보가 성공적으로 변경되었습니다!`
              );
              document.location.href = "/main";
              return;
            }
          });
      }

      function delInfo() {
        if (!confirm("정말 탈퇴하시겠습니까?")) {
          return;
        } else {
          axios({
            method: "DELETE",
            url: "/mypage/delete",
            data: {
              userid: form.userid.value,
              userpw: form.userpw.value,
            },
          })
            .then((res) => {
              return res.data;
            })
            .then((data) => {
              alert(data);
              window.location.href = "/";
            });
        }
      }
    </script>
  </body>
</html>
